<!DOCTYPE html>
<html>
<!--the head part comprises of meta,link,author name etc-->
    <head>
        <meta charset="'UTF-8"> 
        <meta name="keywords" content="demo,portfolio,sandeep shah">
        <meta name="description" content="'demo page for learning frontend">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="shah">
        <title>demo page</title>
    </head>
    <!--body has the contents required for webpage-->
    <body>
        <header style="background-color: red;">
            <h1 style="text-align: center;">Portfolio</h1>
            
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">Projects</a>
            <h3 title="shah">sandeep shah</h3>
        </header>
        <h1>this page is a demo page</h1>
        <h2>consistency is very important</h2>
        <h3>you are doing this for your own and your family depends on you</h3>
        <h4>everything is against you .so take a stand and give a fight</h4>
        <h5>learn something everyday</h5>
        <h6>make a habit</h6>
        <p>this dec will be different.all u have to do is make some changes<br>
        you can do this <br>
        quit smoking<br>
        do something and learn something<br>
        become silent<br>
        always wear a smile<br>
        control ur anger and ur mouth<br>
        develop a higher coding skills and front end development skills<br>
        develop real time projects<br>
        be a nerd with physical strength<br>
        train ur mind and body </p>
        <!--html attributes-->
        <h1>html attributes</h1>
        <input type="text" checked><!--elemennt specific attribute-->
        <!--global attributes-->
        <!--class ,id,title,lang,style-->
       <footer style="background-color: blue;">
        <hr>
        <h2>footer</h2>
        <a href="">contact info </a>
        <a href="">9345052446</a>

       </footer>
    </body>    

</html>