<!DOCTYPE html>
<html lang="en">
    <head>
        <title>demo page</title>
        <meta charset="UTF-8">
        <meta name="author" content="JD page">
        <meta name="gotha gomma " content ="just for a example">
        <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/style.css">


    </head>
    <body>
        <header style="background-color:antiquewhite;">
            <h1 style="color:chartreuse">Components that have to be placed in the Header</h1>
            <hr>
            <p>Home</p>
            <p>Contact</p>
            <p>Project</p>
            <p>Certificates</p>
            <p>Courses</p>
            <p>Industrial Experiences</p>
            <a href="https://drive.google.com/file/d/145jTKSNuALJD8BEEJd-KNTpMSNZ76tyd/view?usp=drive_link">Resume</a>
            <p>About</p>
            <img src="../static/img/image.jpg" width="400" height="200">
            <hr>
        </header>
        <h1 style="color:blueviolet;text-align:center;border:2px solid tomato;padding:30px">Portfolio</h1>
        <hr>
        <p>Name : alcho prof</p>
        <p>Age : 24</p>
        <p>College : Nandha Engineering College</p>
        <p>Department : Artificial Intelligence and Data Science</p>
        <hr>
        <h1 style="background-color: powderblue;text-align:center;">Quotes</h1>
        <pre style="color: darkblue;">
            Prepare for the worst 
            and 
            Hope for the Good   
        </pre>
        <hr>
        <h1 style="color : red;background-color: gold;text-align:center">Formatting elements</h1>
        <b>makes the character bold</b>
        <br>
        <strong>makes the text an important one </strong>
        <p>the i tag can be used to print the italic <i><mark>sandeep</mark></i></p>
        <hr>
        <h1 style="color:dodgerblue;text-align:center;border :2px solid tomato">Contact Information</h1>

<address>
    author : alcho prof
    <br>
    email : sandeepsd@gmail.com
    <blockquote cite="www.gmail.com">
        gmail is one of the form of the electrical impulse 
    </blockquote>
    <!--this is a comment-->
</address>
<hr>
<h1 style="border : 4px solid black;text-align:center">Links</h1>
<br>
<div style="text-align:center">
<a href="https://www.google.com" style="text-align: justify;">Google</a>
<br>
<a href="https://www.gmail.com" 
target="_blank">email</a>
<br>
<a href="https://www.flipkart.com" target="_parent">Flipkart</a>
<br>
<a href="https://www.spotify.com" target="_self">spotify</a>
<br>
<a href="https://www.amazon.com" target="_top" style="text-align:center">Amazon</a>
<br>
<a href="demo.html">
    <img src="../static/img/image.jpg" alt="Html" style="Width:42px;height:42plx">
</a>
<br>
<a href="mailto:sandeepsd245@gmail.com">Contact me </a>
<br>
<button onclick="document.location='demo.html'">Home </button>
<button onclick="documet.loctaion='login.html'">login page </button>
</div>




    </body>
</html>