<!DOCTYPE html>
<html lang="en">
    <head>
        <title>demo page</title>
        <meta charset="UTF-8">
        <meta name="author" content="JD page">
        <meta name="gotha gomma " content ="just for a example">
        <link rel="icon" href="../static/img/icon.png" type="image/x-icon">


    </head>
    <body>
        <header style="background-color:red;">
            <h1 style="color:chartreuse">Components that have to be placed in the Header</h1>
            <hr>
            <p>Home</p>
            <p>Contact</p>
            <p>Project</p>
            <a href="https://drive.google.com/file/d/145jTKSNuALJD8BEEJd-KNTpMSNZ76tyd/view?usp=drive_link">Resume</a>
            <p>About</p>
            <img src="../static/img/image.jpg" width="400" height="200">
            <hr>
        </header>
        <h1 style="color:blueviolet; ">Portfolio</h1>
        <hr>
        <p>Name : alcho prof</p>
        <p>Age : 24</p>
        <p>College : Nandha Engineering College</p>
        <p>Department : Artificial Intelligence and Data Science</p>
        <hr>
        <h1>Quotes</h1>
        <pre>
            Prepare for the worst 
            and 
            Hope for the Good   
        </pre>
        <hr>

    </body>
</html>